{% extends "base.html" %}
{%block content%}
	<header class="masthead" style="background-image: url(&quot;assets/img/0016.jpg&quot;);width: 100%;height: 100vh;">
        <div class="overlay"><a href="http://github.com/fer"></a></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="post-heading">
                        <h1>{{post.title}}</h1>
                        <h2 class="subheading">{{post.subtitle}}</h2><span class="meta" style="font-family: Alike, serif;filter: brightness(124%) contrast(200%);font-size: 19px;">Posted by&nbsp;<a href="about.html">{{post.author}}</a>&nbsp;on {{post.date}}</span></div>
                </div>
            </div>
        </div>
    </header>
    <article>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
		{{ post.content }}
                </div>
            </div>
        </div>
    </article>
{% endblock %}
